* {
  font-family: "montserrat";
  margin: 0px;
  padding: 0px;
  transition: ease-in-out;
  transition-duration: 1s;
  scroll-behavior: smooth;

}

div.head {
  background-image: url('images/slide_4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 850px;
}

nav {
  position: sticky;
  top: 0px;
  transition-duration: 0.2s;
}

.nav-normal {
  flex: auto;
  height: 5rem;
  color: white;
  margin-top: -5rem;
  background-color: transparent;
  color: white;
  padding: 20px;
}

.nav-scrolled {
  flex: auto;
  color: white;
  margin-top: -5rem;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 5px;
  height: auto;
}



.section-after-head {
  margin-top: 70vh;
}

.text-white {
  color: white;
}

.transition-0 {
  transition-duration: 0s;
}

/* .text-center {
  text-align: center;
}

.text-left {
  text-align: left;
} */

.section-gap {
  height: 100px;
}

section {
  min-height: 100vh;
}

.section {

  height: 95vh;
}

.snap-y {
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
}

.snap-center {
  scroll-snap-align: center;
}

.snap-start {
  scroll-snap-align: start;
}

.nav-scrolled .container .div_iefdhiu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20vw;
}



@media (min-width: 768px) {
  .nav-scrolled .container .div_iefdhiu  {
    margin-left: 0px;
    margin-right: auto;
    padding-left: 0px;

  }

  /* medium devices */
  .md\:text-left {
    text-align: left;
  }

}

/* small devices */
@media (max-width: 768px) {
  text-center {
    text-align: center;
  }

}